{% extends "usuarios/padre.html" %}
{% load static %}


{% block titulo %}
Mensajes - GameRank
{% endblock %}


{% block primero %}


<section style="background-color: #eee;">
    <div class="container py-5">
        <h4>Chat con: {{receptor.get_full_name}}</h4>
        <br>
        {% if lista_mensajes %}
        {% for mensaje in lista_mensajes %}
        {% if user.id == mensaje.emisor_id %}
        <div class="d-flex flex-row justify-content-start mb-4">
            <img src="{{ avatar }}"
            alt="avatar 1" style="width: 45px; height: 100%;">
            <div class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                <p class="small mb-0">
                    Tu, {{mensaje.creado}}
                </p>
                <p><h6>
                    {{mensaje.contenido}}
                </h6></p>
            </div>
        </div>
        {% else %}
        <div class="d-flex flex-row justify-content-end mb-4">
            <div class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                <p class="small mb-0">
                    {{receptor.get_full_name}}, {{mensaje.creado}}
                </p>
                <p><h6>
                    {{mensaje.contenido}}
                </h6></p>
            </div>
            <img src="{{ foto }}"
            alt="avatar 1" style="width: 45px; height: 100%;">
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <br>
        <div  class=" row d-flex justify-content-center align-content-center "  >
            <a href="{% url 'nuevo_mensaje' %}" class="btn btn-success btn-sm col-3">Nuevo mensaje</a>
        </div>
    </div>
</section>

{% endblock %}