{% extends "usuarios/padre.html" %}
{% load static %}


{% block titulo %}
GameRank - Acerca de
{% endblock %}

{% block primero %}

<p>
    <h2>Buenas, seguidores de GameRank!</h2>
</p>
<br>

<p>
    <h4>Somos Cristian Gabriel Torres y José Gabriel Torres.</h4>
</p>
<br>

<p>
    <img height="400px" src="{{ foto }}">
</p>
<br>

<p>
    Con mucho esfuerzo hemos creado esta aplicación web como proyecto final para curso de Python de Coder House.
</p>

<p>
    Aquí pueden registrarse, para publicar sus propias reviews de videojuegos, contactarse de forma privada con los 
    demás reviewers, o simplemente pueden ver las reviews publicadas sin necesidad de registrarse.
</p>

<p>
    Esperamos que lo disfruten, saludos!
</p>

<div>
    <a class="btn btn-primary btn-lg" href="https://github.com/cristian-torres-ds/blog_proyecto_final.git" target="_blank">GitHub Cristian</a>&nbsp&nbsp
    <a class="btn btn-primary btn-lg" href="https://www.coderhouse.com/" target="_blank">Coder House</a>&nbsp&nbsp
    <a class="btn btn-primary btn-lg" href="https://github.com/jgabrieltorres52/blog_proyecto_final.git" target="_blank">GitHub Gabriel</a>
</div>
<br>
<p>
<form>
    <input type="button" class="btn btn-success" value="VOLVER" onclick="history.back()">
</form>
</p>
<br>
</section>

{% endblock %}