{% extends "usuarios/padre.html" %}
{% load static %}


{% block titulo %}
GameRank - Acerca de
{% endblock %}

{% block primero %}

<p>
    <h2>Buenas, seguidores de GameRank!</h2>
</p>
<br>

<p>
    <h3>Somos Cristian Gabriel Torres y José Gabriel Torres.</h3>
</p>
<br>

<p>
    <img height="400px" src="{{ foto }}">
</p>
<br>

<p>
    Con mucho esfuerzo hemos creado esta aplicación web como proyecto final para curso de Python de Coder House.
</p>

<p>
    Aquí pueden registrarse, para publicar sus propias reviews de videojuegos, contactarse de forma privada con los 
    demás reviewers, o simplemente pueden ver las reviews publicadas sin necesidad de registrarse.
</p>

<p>
    Esperamos que lo disfruten, saludos!
</p>

{% endblock %}