{% extends "usuarios/padre.html" %}
{% load static %}

{% block titulo %}
GameRank - Inicio
{% endblock %}


{% block primero %}

<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h2 class="fw-bolder mb-1">Bienvenido a GameRank</h2>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Donde encontrarás los mejores reviews de videojuegos.</div>
        <div class="text-muted fst-italic mb-2">Suscríbete y postea tus propias reviews!.</div>
        <!-- Post categories-->
    </header>
</article>


<h3><br>{{ mensaje }}</h3>

{% endblock %}