{% extends "app_super/padre.html" %}

{% load static %}

{% block titulo %}

Inicio

{% endblock %}

{% block primero %}

<h1 class="display-5 fw-bold">ENTREGABLE 1 </h1>
<p class="fs-4">Cristian Gabriel Torres y José Gabriel Torres.</p>
<div>
    <a class="btn btn-primary btn-lg" href="https://www.coderhouse.com/" target="_blank">Coder House</a>
</div>
<br>
<div>
    <a class="btn btn-primary btn-lg" href="https://github.com/cristian-torres-ds/Entrega_1_torres_cristian_gabriel.git" target="_blank">Repositorio<br>GitHub - Cristian</a>
    <a class="btn btn-primary btn-lg" href="https://github.com/jgabrieltorres52/Entrega_1_torres_jose_gabriel.git" target="_blank">Repositorio<br>GitHub - Gabriel</a>
</div>

{% endblock %}