<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>

            {% block titulo %}

            {% endblock %}

        </title>
        <!-- Favicon-->
        <link rel="icon" href="https://img.icons8.com/stickers/100/000000/controller.png" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'usuarios/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio' %}">GameRank</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!-- <li class="nav-item"><a class="nav-link" href="{% url 'acerca_de' %}">Acerca de</a></li>-->

                        {% if user.is_authenticated %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'editar_perfil' %}">{{user.username}}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">LOGOUT</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'add_avatar' %}">AVATAR</a></li>
                        
                        {% else %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">LOGIN</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">REGISTER</a></li>

                        {% endif %}

                        <img height="40px" src="{{ avatar }}" alt="">

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    
                    {% block primero %}

                    {% endblock %}

                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Reviews</div>
                        <div class="card-body">
                            <div class="input-group">
                                <form action="{% url 'buscar_posteo' %}" method="GET">
                                    <input type="text" name="titulo" id="titulo">
                                    <input type="submit" value="Buscar">
                                </form>
                                <li><a href="{% url 'ver_posteos' %}">Todas las Reviews</a></li>
                                <li><a href="{% url 'nuevo_posteo' %}">Publica tu propia Review</a></li>
                            </div>
                        </div>
                    </div>
                    <!-- Usuarios widget-->
                    <div class="card mb-4">
                        <div class="card-header">Nuestro Equipo</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        {% for usuario in usuarios %}
                                        <li><a href="{% url 'usuario_detallado' usuario.id %}">{{usuario.get_full_name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mensajes widget-->
                    <div class="card mb-4">
                        <div class="card-header">Mensajes</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'nuevo_mensaje' %}">Nuevo mensaje</a></li>
                                        <br>
                                        {% if receptores %}
                                        {% for receptor in receptores %}
                                        <li><a href="{% url 'ver_mensajes' receptor.id %}">{{receptor.get_full_name}}</a></li>
                                        {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; GameRank 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
