{% extends "usuarios/padre.html" %} 
{% load static %}

{% block titulo %}
{{posteo.titulo}} - GameRank
{% endblock %}


{% block primero %}

<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1"><br><b>{{usuario.get_full_name}}&nbsp&nbsp&nbsp</b><img height="70px" src="{{ foto }}" alt=""></h1>
        <h3 class="fw-bolder mb-1">{{usuario.email}}</h3>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Es miembro de GameRank desde: {{usuario.date_joined.day}}/{{usuario.date_joined.month}}/{{usuario.date_joined.year}}</div>
        <a class="btn btn-dark btn-sm" href="{% url 'nuevo_mensaje' %}">Escribir Mensaje</a>
    </header>
</article>



{% if posteos %}

<br>
<br>
<h1 class="fw-bolder mb-1"><br>Reviews subidas por <b></b>{{usuario.first_name}}:</b></h1>
<br>

    {% for posteo in posteos %}

    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h2 class="fw-bolder mb-1"><br><b>{{posteo.titulo}}&nbsp&nbsp&nbsp</b>
                {% if posteo.puntaje > 79 %}
                <a class="btn btn-success" href="{% url 'review_criteria' %}"><h6>PUNTAJE</h6><b><h1> {{posteo.puntaje}}</b></h1></a>
                {% elif posteo.puntaje <= 79 and posteo.puntaje >= 60 %}
                <a class="btn btn-warning" href="{% url 'review_criteria' %}"><h6>PUNTAJE</h6><b><h1> {{posteo.puntaje}}</b></h1></a>
                {% else %}
                <a class="btn btn-danger" href="{% url 'review_criteria' %}"><h6>PUNTAJE</h6><b><h1> {{posteo.puntaje}}</b></h1></a>
                {% endif %}
            </h2>
            <h3 class="fw-bolder mb-1">{{posteo.subtitulo}}</h3>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">Creado por:
                <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'usuario_detallado' usuario.id %}">{{posteo.user.get_full_name}}</a> el {{posteo.creado.day}}/{{posteo.creado.month}}/{{posteo.creado.year}}
                {% if posteo.creado != posteo.actualizado %}
                y editado el {{posteo.actualizado.day}}/{{posteo.actualizado.month}}/{{posteo.actualizado.year}}
                {% endif %}
            </div>
            <img height="200px" src="{{ posteo.imagen.url }}" alt="">
        </header>
        <section class="mb-5">
            {{posteo.contenido|slice:":200"|safe}}...
            <br>
            <a href="{% url 'posteo_detallado' posteo.id %}" class="btn btn-primary">Ver más &rarr;</a>
        </section>
    </article>

    {% endfor %}

{% else %}

<br>
<br>
<h3><p>{{usuario.first_name}} {{usuario.last_name}} todavía no ha subido reviews.</p></h3>

{% endif %}

{% endblock %}