{% extends "usuarios/padre.html" %}
{% load static %}

{% block titulo %}
Resultados de búsqueda
{% endblock %}


{% block primero %}
    
{% if titulos %}
    <ul>
        {% for ti in titulos %}

        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1"><br><b>{{ti.titulo}}</b></h1>
                <h3 class="fw-bolder mb-1"><br><b>{{ti.subtitulo}}</b></h3>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">Creado por:
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ti.user}}</a> en la fecha {{ti.creado}}
                </div>
            </header>
            <section class="mb-5">
                {{ti.contenido}}
            </section>
            <a href="{% url 'posteo_detallado' ti.id %}" class="btn btn-primary">Ver más &rarr;</a>
        </article>

        {% endfor %}
    </ul>
{% else %}
<p>No se encontraron Reviews de ese juego.</p>
{% endif %}

{% endblock %}