{% extends "usuarios/padre.html" %} 
{% load static %}

{% block titulo %}
{{posteo.titulo}} - GameRank
{% endblock %}


{% block primero %}

<h1>{{ mensaje }}</h1>


<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1"><br><b>{{posteo.titulo}}&nbsp&nbsp&nbsp</b>
            {% if posteo.puntaje > 79 %}
            <a class="btn btn-success" href="{% url 'review_criteria' %}"><h6>PUNTAJE</h6><b><h1> {{posteo.puntaje}}</b></h1></a>
            {% elif posteo.puntaje <= 79 and posteo.puntaje >= 60 %}
            <a class="btn btn-warning" href="{% url 'review_criteria' %}"><h6>PUNTAJE</h6><b><h1> {{posteo.puntaje}}</b></h1></a>
            {% else %}
            <a class="btn btn-danger" href="{% url 'review_criteria' %}"><h6>PUNTAJE</h6><b><h1> {{posteo.puntaje}}</b></h1></a>
            {% endif %}
        </h1>
        <h3 class="fw-bolder mb-1">{{posteo.subtitulo}}</h3>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Creado por:
            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'usuario_detallado' posteo.user_id %}">{{posteo.user.get_full_name}}</a> el {{posteo.creado.day}}/{{posteo.creado.month}}/{{posteo.creado.year}}
            {% if posteo.creado != posteo.actualizado %}
            y editado el {{posteo.actualizado.day}}/{{posteo.actualizado.month}}/{{posteo.actualizado.year}}
            {% endif %}
        </div>
        <img height="400px" src="{{ posteo.imagen.url }}" alt="">
    </header>
    <section class="mb-5">
        {{posteo.contenido|safe}}
        <br>
        {% if user.is_authenticated %}
        {% if posteo.user.username == request.user.username %}
        <a class="btn btn-dark btn-sm" href="{% url 'editar_posteo' posteo.id %}">EDITAR</a>
        <a class="btn btn-danger btn-sm" href="{% url 'eliminar_posteo' posteo.id %}">ELIMINAR</a>
        <br>
        {% endif %}
        {% endif %}

    </section>
</article>

{% endblock %}